
{% extends 'FinalProjApp/base.html' %}

{% block content %}

<!DOCTYPE html>   <!-- this indicated HTML 5 document -->
<html lang ="en-US">
	<head>
	   <title>BUS 443 HOME PAGE </title>
       <meta charset = "utf-8"/>
        <link rel="stylesheet" type= "text/css" href = "style.css" />
    
        <div class="container-fluid">
        <table class="table table-striped table-hover table-bordered">

         <h1>WELCOME</h1>
          
            </table>
        </div>
        
        
        {% endblock %}