

{% extends 'FinalProjApp/base.html' %}

{% block content %}

<div class= "container">
    <div class="card">
        <div class="card-header">
        <h4>Please Log in </h4>
        
        </div>
    <div class ="card-body">
        <form method= "POST" action= "{% url 'login' %}">
            {% csrf_token %}
            <table class="table">
            {{ form }}
            </table>
            <input type="submit" value="Log in" class="btn btn-primary"/>
        </form>
        </div>
    </div>
</div>




{% endblock %}